# PostgreSQL Database URL (Supabase Connection Pooler)
DATABASE_URL="postgresql://postgres.gfszeojgcarobrzpdmni:M%401383138300a@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require&connect_timeout=30"
DIRECT_URL="postgresql://postgres.gfszeojgcarobrzpdmni:M%401383138300a@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require&connect_timeout=30"

# JWT Secret Key
JWT_SECRET="HesabChin-SuperSecretKey-2026"

# Server Port
PORT=3000
